.table-container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.table-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    word-spacing: 5px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

option, select {
    background-color: white;
    color: black;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid black;
    font-size: 16px;
}
thead th {
    background-color: white !important;
}

td, th {
    padding: 10px 18px;
    text-align: left;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 8px 10px;
    color: black;
    font-size: 16px;
}

th {
    background-color: #f9f9f9;
    cursor: pointer;
    font-weight: bold;
}

tbody tr:last-child td {
    border-bottom: 1px solid black;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f9f9f9;
}


tr:nth-child(odd) .sorting_1 {
    background-color: #f1f1f1;
}

tr:nth-child(even) .sorting_1 {
    background-color: #fafafa;
}